.black {
    background-color: #000000;
}

.dark_gray {
    background-color: #23272a;
}

.gray {
    background-color: #2c2f33;
}

.light_blue {
    background-color: #99aab5;
}

.white {
    background-color: #ffffff;
}

.purple {
    background-color: #7289da;
}

.container {
    height: 500px;
    position: relative;
}

.center {
    margin: 0;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid green;
    border-radius: 10px;
}

.submit {
    margin-top: 15px;
    width: 100%;
    background-color: greenyellow;
    border-color: lawngreen;
    color: black;
    font-weight: bolder;
}