@use 'utilities/contrast';

$background-color: #ccc !default;
$font-color: #222 !default;
$spacing-inside: 2rem !default;
$margin-inside: 1.8em !default;
$field-color: contrast.adjustStandalone(desaturate($background-color, 30%), 20%) !default;

.modal-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    position: relative;
    margin: 1rem 0;
    padding: $margin-inside 0;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $field-color;
    color: $font-color;
    overflow-y: auto;

    &.half-width {
      max-width: 375px;
    }

    &.micro {
      padding: 0.6rem 0.9rem;
    }

    .modal-header {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      h1, h2, h3, label, p {
        margin: 3px $spacing-inside;
      }

      label {
        display: block;
        margin: 6px 0;
        font-size: 1.2em;
        font-weight: 700;
      }
    }
  }
}
