<!doctype html>
<html>

<head>
    {{> common/head }}
    <title>Erdwolf</title>
</head>

<body>
    {{#> header }}
    {{> widgets/dash/topbar }}
    {{/header}}

    {{~> content }}

    {{#> footer }}
    {{> widgets/dash/footer }}
    {{/footer}}
</body>

</html>