<!doctype html>
<html>

<head>
    {{> common/head }}
    <title>Erdwolf</title>
</head>

<body class="modal-container">
    <div class="modal modal-paned">
        {{> @partial-block }}
    </div>
</body>

</html>