<!doctype html>
<html>
<head>
    {{> common/head }}
    <title>Erdwolf</title>
</head>

<body class="modal-container">
    <div class="modal">
        {{> @partial-block }}
    </div>
</body>
</html>
