// TODO: Action list styles were revamped into system notifications.
$shelf-color: #666 !default;
$shelf-opacity: 0.2 !default;

#actions-list {
  margin: 0 3em 1em;
  padding: 1.25em;
  background: rgba($shelf-color, $shelf-opacity);
  border-radius: 6px;
}