@use 'config/document' as cfg;

html,
body {
  min-height: 100vh;
}

body {
  background: cfg.$bgColor;
  color: cfg.$fgColor;
}

* {
  box-sizing: border-box;
}

@warn "Deprecated properties below. Migrate to config.";
$background-color: cfg.$bgColor;
$font-color: cfg.$fgColor;
