@use 'config/modals' as cfg;
@use 'accel/accel';

.modal-container {
    @include accel.flex($direction: row, $x: center, $y: center);
    height: 100%;
}

.modal {
    @include accel.width(-1, 100%, 500px);
    position: relative;
    margin: 1rem 0;
    border-radius: 8px;
    border: 1px solid cfg.$modalColor;
    background: cfg.$bgColor;
    color: cfg.$fgColor;
    overflow-y: auto;

    &.modal-paned {
        @include accel.flex();
        max-width: 750px;

        .modal-header {
            @include accel.width(-1, 100%, 40%);
        }

        .modal-content {
            width: 100%;
        }
    }

    .modal-header {
        @include accel.flex($direction: column, $x: center, $y: center);
        padding: cfg.$stdMargin 0;
        border-bottom: 1px solid cfg.$headerBgColor;
        background: cfg.$headerBgColor;
        color: cfg.$headerFgColor;
    }

    .modal-content {
        margin: 0 1em;
        padding: cfg.$stdMargin cfg.$stdSpacing;

        .section-title {
            text-align: center;
            margin: 30px 0;
            font-size: 1.7em;
            font-weight: 700;
            color: #fff;
        }
    }
}
