@use 'accel/accel';
@use 'config/topbar' as cfg;

#app-header {
  @include accel.flex($direction: row, $y: center);

  .app-name.next-to-nav {
    padding-right: cfg.$navOuterMargin;
  }

  & > #panel-container {
    @include accel.flex($direction: row, $x: space-between, $y: center);
    width: 100%;
    padding: 2px cfg.$navOuterMargin / 2;
    border-radius: 2px;
    background: cfg.$navPanelBgColor;
  }

  /* Meta navigation */
  #meta-nav {
    display: flex;
    flex-direction: row;
    list-style: none;

    a.nav-item {
      display: block;
      margin: 0 cfg.$item-spacing;
      color: cfg.$item-font-color;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;

      &.current {
        color: cfg.$current-item-font-color;
        font-weight: 900;
      }
    }
  }
}
