<header id="app-header" class="flex align-center">
  <div class="app-logo">
    <img src="/static/cooked/app.svg" alt="Erdwolf app logo" />
  </div>
  <a class="app-name next-to-nav" href="/">Erdwolf</a>

  <div class="full-width flex justify-content-between align-center">
    <div class="flex align-center">
      <nav id="meta-nav">
        <a class="nav-item current" href="/apps">Apps</a>
        <a class="nav-item" href="/users">Users</a>
        <a class="nav-item" href="/system-config">System</a>
      </nav>
    </div>

    <div class="right side">
      <div class="user action-panel">
        <img class="user-avatar" />

        <div class="dropdown-container">
          <div class="panel contents">
            <p class="user name">@octocat</p>

            <ul class="panel action-list">
              <li>Log out</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>