{{#> layouts/modal_page }}
<div class="modal-header">
    <div class="flex align-center column">
        <div class="app-logo">
            <img src="/static/svg/app.svg" alt="Erdwolf" />
        </div>

        <span class="app-name">Erdwolf</span>
    </div>
</div>

<div class="modal-content">
    <label class="section-title">Sign in</label>

    <div class="flex justify-content-between wrap">
        <form action="/api/login" method="POST">
            <div class="input-group">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text">
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password">
            </div>
        </form>
    </div>

    <div class="flex justify-content-between wrap">
        <a href="/register">Have an invite code?</a>
    </div>
</div>
{{/ layouts/modal_page }}