<html>

<head>
    <title>ErdWolf</title>
</head>

<body>
    <nav width="100%">
        <table width="100%">
            <tr>
                <td width="50%">
                    <h2>ErdWolf</h2>
                </td>
                <td width="50%" align="right">
                    <button onclick="window.location.href='/login'">Login</button>
                    <button onclick="window.location.href='/register'">Register</button>
                </td>
            </tr>
        </table>
    </nav>
    <div>
        <p>There's some random text that is used as a placeholder... something... something...</p>
    </div>
</body>

</html>