{{#*inline "page" }}
<div class="modal-header">
    <img src="/static/svg/app.svg" class="app-logo" alt="Erdwolf" />
    <h1 class="app-name">Erdwolf</h1>
</div>

<div class="modal-content">
    <h2 class="section-title">Sign in</h2>

    <form action="/api/login" method="POST">
        <div class="input-group">
            <input id="username" required=true name="username" type="text">
            <label for="username">Username</label>
        </div>

        <div class="input-group">
            <input id="password" required=true name="password" type="password">
            <label for="password">Password</label>
        </div>

        <div class="input-group">
            <input type="submit" value="Log in to your Account" />
        </div>
    </form>

    <div class="flex justify-content-between wrap">
        <a href="/register">Have an invite code?</a>
    </div>
</div>
{{/inline}}
{{~> layouts/modal_page ~}}